# This file is for test dependencies only, not required for running the plugin.
# The order of packages is significant (pip processes them in order of appearance).

bandit>=1.7.0
pytest>=7.0.0
pytest-cov>=4.0.0
pytest-mock>=3.10.0
tox>=4.0.0